<!doctype html>
<html lang="en">
<head>
    <style type="text/css">
        [v-cloak]{
            display: none;
        }
        ul li{
            height: 30px;
            line-height: 30px;
            padding: 10px;
            border: 1px solid;
            text-align: center;
            display: inline-block;
            margin: 0 10px;
            background-color: #fff;
        }
        ul li.selected{
            background-color: red;
        }
        ul li.disabled{
            background-color: #888888;
        }
        .red{
            color: red;
        }
    </style>

</head>
<body class="packWill-group-body">
<div id="box" class="jackson-box" v-cloak>

    <template>
        <p v-for="(item, index) in skuList"
           :class="[{'red': item.sku_id === lastSkuID}]">
            <span v-for="(value, key) in item" v-if="key !== 'sku_photo'">
                {{ key + ' : ' + value}}
            </span>
        </p>
    </template>
    <template v-for="(spec, index) in specificationsArr">
        <ul v-if="spec.items.length > 0">
            <span>{{spec.text}}</span>
            <li v-for="(item, ind) in spec.items"
                :class="[{'disabled': item.isDisabled, 'selected': selectedIndexArr[index] === ind}]"
                @click.stop="chooseItem(spec.name,item.name, index, ind, item.isDisabled)">
                {{item.name}}
            </li>
        </ul>
    </template>


</div>

<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>

<script>
    /*
    * 思路：
    * 1、初始化数据 skuList（服务端数据）
    * 2、
    * attrs = [
    *   {
    *       name: "color",
    *       items: [
    *           red, blue, black
    *       ]
    *   },
    *   {
    *       name: "size",
    *       items: [
    *           S, M, L
    *       ]
    *   }
    * ]
    *
    *
    * */
    new Vue({
        el:"#box",
        data:{
            specSeparator: ";",
            skuList: [],
            mySkuSet: {},
            specificationsArr: [],
            selectedSpecArr: [],
            selectedIndexArr: [],
            lastResult: {}
        },
        methods:{
            initData: function (skuList) {
                console.time();
                this.skuList = skuList;

                var _this = this,
                    specSeparator = _this.specSeparator,
                    mySkuSet = {},
                    specificationsArr = [
                        {
                            name: "color",
                            text: "color",
                            items: []
                        },
                        {
                            name: "size",
                            text: "size",
                            items: []
                        }
                    ];


                skuList.forEach(function (item) {

                    var keyArr = [];
                    specificationsArr.forEach(function (spec) {

                        var itemAttr  = item[spec.name],
                            specItems = spec.items,
                            existItem = specItems.find(function (findItem) {
                                return findItem.name === itemAttr;
                            });
                        if (itemAttr && !existItem) {
                            specItems.push({name: itemAttr});
                        }

                        if (itemAttr) {
                            keyArr.push(itemAttr);
                        }

                    })

                    if (keyArr.length > 0) {
                        mySkuSet[keyArr.join(specSeparator)] = item;
                    }

                })

                _this.specificationsArr = specificationsArr;
                _this.mySkuSet = mySkuSet;

                console.timeEnd();

            },
            chooseItem: function (name, spec, index, ind, isDisabled) {
                if(isDisabled) {
                    return
                }

                console.time();
                var _this = this,
                    notSelectedSpec = "",
                    notSelectedIndex = -1,
                    selectedSpecArr = _this.selectedSpecArr,
                    selectedIndexArr = _this.selectedIndexArr;



                if (selectedSpecArr[index] !== spec) {
                    selectedSpecArr[index] = spec;
                    selectedIndexArr[index] = ind;
                } else {
                    selectedSpecArr[index] = notSelectedSpec;
                    selectedIndexArr[index] = notSelectedIndex;
                }

                _this.selectedIndexArr = _this.selectedIndexArr.concat([]);
                _this.checkItem();
                console.timeEnd();
            },
            checkItem: function () {
                var _this = this,
                    option = _this.specificationsArr,
                    selectedSpecArr = _this.selectedSpecArr,
                    result = [];

                option.forEach(function (item, index) {
                    result[index] = selectedSpecArr[index] ? selectedSpecArr[index] : "";
                })

                option.forEach(function (item, index) {

                    var last = result[index];

                    item.items.forEach(function (spec, ind) {
                        result[index] = spec.name;
                        item.items[ind].isDisabled = !_this.isMay(result);
                    })

                    result[index] = last;
                })

                _this.lastResult = _this.mySkuSet[result.join(_this.specSeparator)];
                console.log("result==",_this.lastResult);



            },
            isMay: function (result) {

                for (var i = 0; i < result.length;i++) {
                    if (result[i] === "") {
                        return true;
                    }
                }

                if (!this.mySkuSet[result.join(this.specSeparator)]) {
                    return false;
                }

                return this.mySkuSet[result.join(this.specSeparator)].inventory > 0;
            }

        },
        computed:{
            lastSkuID: function () {
                return this.lastResult ? this.lastResult.sku_id : '';
            }
        },
        created:function () {
            var skuList = [
                // {"sku_id":"1","listing_id":"4","color":"red","size":"Small","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71EpeflOmNL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"2","listing_id":"4","color":"red","size":"Medium","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71EpeflOmNL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"3","listing_id":"4","color":"red","size":"Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71EpeflOmNL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"4","listing_id":"4","color":"red","size":"X-Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71EpeflOmNL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"5","listing_id":"4","color":"black","size":"Small","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71-cyw4c2nL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"7","listing_id":"4","color":"black","size":"Medium","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71-cyw4c2nL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"8","listing_id":"4","color":"black","size":"Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71-cyw4c2nL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"9","listing_id":"4","color":"black","size":"X-Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71-cyw4c2nL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"10","listing_id":"4","color":"blue","size":"Small","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71Gd1ddNHqL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"11","listing_id":"4","color":"blue","size":"Medium","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71Gd1ddNHqL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                // {"sku_id":"12","listing_id":"4","color":"blue","size":"Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71Gd1ddNHqL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"13","listing_id":"4","color":"blue","size":"X-Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/71Gd1ddNHqL._SX466._SX._UX._SY._UY_.jpg","inventory":"1000"},
                {"sku_id":"14","listing_id":"4","color":"gray","size":"Small","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/81Y%2Bq-5sR%2BL._UX466_.jpg","inventory":"1000"},
                {"sku_id":"15","listing_id":"4","color":"gray","size":"Medium","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/81Y%2Bq-5sR%2BL._UX466_.jpg","inventory":"1000"},
                {"sku_id":"16","listing_id":"4","color":"gray","size":"Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/81Y%2Bq-5sR%2BL._UX466_.jpg","inventory":"1000"},
                // {"sku_id":"17","listing_id":"4","color":"gray","size":"X-Large","price":"9.99","price_2":"7.99","sku_photo":"https://images-na.ssl-images-amazon.com/images/I/81Y%2Bq-5sR%2BL._UX466_.jpg","inventory":"1000"}
                ];

            this.initData(skuList);
        }
    })
</script>

</body>
</html>